/* work sens font from Google */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans:ital,wght@0,400;1,700;1,800&family=Work+Sans:ital,wght@0,400;0,600;0,900;1,800&display=swap");

/* Shared Styles */
* {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #FF900E;
  color: #fff;
  padding: 20px 25px;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}

/* Header Section Styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

.primary-heading-font {
  font-size: 3rem;
  font-weight: 600;
  color: #131313;
}

/* Banner Section Styles */
.banner-content {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.img {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

.banner-title {
  font-size: 4rem;
  color: #131313;
  font-weight: 600;
}

.banner-dis {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}


/* main section style */
main{

max-width: 1440px;
margin: 0 auto;

}
.teams-container{
    display: flex;
    align-items: center;
    margin: 70px auto;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.tems-title{
    font-size: 2.5rem;
}
.Quicklist{
    color: #727272;
 font-weight: 600;
}
.ofour{
    color: #131313;
    font-weight: 700;
}
.future{
    color: #FF900E;
    font-weight: 600;
}
.tems-dis{
color: #727272;
font-weight: 400;

}
/* facts section */
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding:  30px;

}
.card-stats{

    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
/* sponsors section */

.sponsors{
    text-align: center;
}
.sponsors-img-contenter{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}
/* future section */
.future-section{
    display: flex;
    margin-top: 100px;
    gap: 130px;
}
.future-contant.card2{
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    padding:  30px;

}
.future-contant .primary-heading-font{
    border-left: 5px solid #FF900E;
 padding-left: 20px;
}
.ten-year-badge{
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 200px;

}
.ten-year-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-year-badge p{
    text-align: center;
    font-size: 1.5rem;
}
.future-img img{
    height: 80%;
    margin-left: 20px;
}






















/* Small devices (up to 576px) */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav {
    flex-direction: column;
  }

  .banner-content {
    flex-direction: column;
  }

  .img {
    margin: 20px auto;
  }
  .teams-container{
    flex-direction: column;
  }
  .teams-img{
    grid-template-columns: 1fr;
  }
  .teams-content{
    padding-left: 20px;
    padding-right: 20px;

  }
  .facts-card-container{
    flex-direction: column;
    gap: 10px;
  }
  .sponsors-img-contenter{
    flex-direction: column;
    gap: 20px;
    
  }
  .sponsors-img-contenter img{
    width: 165px;
  }
  .future-section{
flex-direction: column;

  }
  .future-contant h3{
font-size: 30px;
  }
  .future-img img{
    width: 100%;
    margin-left: 0;

  }
  .ten-year-badge{
   position: static;
   max-width: 200px;
   max-height: 100px;
}
.ten-year-badge h2{
    font-size: 2rem;
    font-weight: 600;
}

/* Medium devices (576px to 992px) */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 40px;
      }
      nav{
        flex-direction: column;
      }
      .teams-container{
        flex-direction: column;
      }
      .sponsors-img-contenter{
        flex-direction: column;
        gap: 20px;
        
    
    }
    .future-section{
        flex-direction: column;
        
          }

}